<div class='login'>
  <h3>Log In</h3>

  <form action="<%= session_url %>" method="post">
    <input
       name="authenticity_token"
       type="hidden"
       value="<%= form_authenticity_token %>">

    <label for="user_username">Username</label>
    <input
       id="user_username"
       name="user[username]"
       type="text">
    <br>

    <label for="user_password">Password</label>
    <input
       id="user_password"
       name="user[password]"
       type="password">
    <br>

    <input type="submit" value="Log in">
  </form>
 <br>
 <% if (flash && !flash[:errors].blank? ) %>
   <span class='error'><%= flash[:errors] %></span><br>
 <% else %>
   <br>
 <% end %>

 <br>
 <p>Don't have a username yet? <br>
   <%= link_to('Sign up in a minute!', new_user_url) %></p>



</div>