<article class='pin-card'>
    <p><a href='#'>User <%= pin.escape('user_id') %></a> pinned a photo for <a href='#'>Blackbird</a> by <a href='#'>The Beatles</a></p>
    <img src="http://www.examiner.com/images/blog/EXID19412/images/white_stripes_live(2).jpg" >
        <p>This picture reminds me of my mother singing me Beatles songs when I went to sleep!</p>
</article>
