<h3>Adding a new pin</h3>

<form id='addPinForm'>
<p>Choose the song you want to add a pin for:</p>
<br>
<p>Enter band mid:</p>
<input type='text' name='pin[band_mid]'></input>
<br><br>
<p>Enter song mid:</p>
<input type='text' name='pin[song_mid]'></input>
<br><br>
<button class='songSelected'>Next</button>

</form>