<h3>Adding a new pin</h3>

<form id='addPinForm'>

  <div>Enter the name of the band.</div>

  <div class="ui-widget">
    <input id='band'>
    <div id='result'></div>
    <div class='songSelectView'>
      <input id='song_letters'>
      <select id="song" name="song" >
        <option selected="selected"></option>
      </select>
      <button id='send'>Select song</button><br><br>
      <div id='newSong'></div>
    </div>
  </div>








<p>Choose the song you want to add a pin for:</p>
<br>
<p>Enter band mid:</p>
<input type='text' name='pin[band_mid]'></input>
<p>Enter band name:</p>
<input type='text' name='pin[band_name]'></input>
<br><br>
<p>Enter song mid:</p>
<input type='text' name='pin[song_mid]'></input>
<p>Enter song title:</p>
<input type='text' name='pin[song_title]'></input>
<br><br>
<button class='songSelected'>Next</button>

</form>