<div>Enter the name of the band.</div>

<div class="ui-widget">

  <input id='band'>
  <div id='result'></div>
  <div class='songSelectView'>
    <input id='song_letters'>

    <select id="song" name="song" >
      <option selected="selected"></option>
    </select>

    <button id='songSelected'>Select song</button><br><br>

    <div id='newSong'></div>

  </div>

</div>