<script type="application/json" id="bootstrapped_current_user_id">
  <%= current_user.id.to_json.html_safe %>
</script>

<script type="application/json" id="bootstrapped_current_user">
   {
    "id": <%= current_user.id.to_json.html_safe %>,
    "username":<%= current_user.username.to_json.html_safe %>}
</script>

<div id='topbar'>
</div>

<div id='content'>
</div>

<div id='box'>
</div>

<script>

$(document).ready(function(){
  MP.initialize();
});
</script>