<a href='#/song/<%= song_following.get('song').id %>'>
  <%= song_following.get('song').title %></a>
   by <%= song_following.get('song').band.name %>
   <a class='delete'>Stop following this song</a>
