<p class='comment_author'>Add a comment!</p>
<textarea rows="3" cols="50" name="comment_body" class="comment_body"></textarea>
<span class='ui-widget'><button class='post_comment'>Post</button></span>