<a href="https://instagram.com/oauth/authorize/?client_id=79a5009290764cf7b5020180b9edba95&redirect_uri=http://localhost:3000/api_callback&response_type=token" target="_blank">click here to authenticate</a>
<button id='authenticated'>Click here when done</button>