<form class='flickr_username_form'>
  <input type="text" class="flickr_username">
  <input type="submit" value="Photos for user">
  </form>
<form class='flickr_search_form'>
  <input type="text" class="flickr_search">
  <input type="submit" value="Search photos">
  </form>





