/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require jquery.ui.all
 *= require_self
 */

/*  GENERAL  */

body {
  background: #E1DFE1;
  font-family: "Helvetica Neue","Hiragino Kaku Gothic Pro",arial,sans-serif;
}

html {
  overflow-y: scroll;
  /*  ugly fix to always display right scroll bar in Chrome
      so topbar doesn't move right when adding new pin */
}

h3 {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
}

#content {
  position:relative;
  width: 100%;
  padding-top: 45px;
}

#box {
  position:absolute;
  width: 100%;
  top: 95px;
}



/*  TOP BAR  */

#topbar  {
  background: white;
  width: 100%;
  height: 18px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.1),0 1px 0 0 rgba(0,0,0,0.1);
  text-align: center;
  padding: 10px 0 18px;
  margin-bottom: 2px;
  position:fixed;
  z-index: 1000;
}

.topbar-wrap  {
  position: relative;
  width: 954px;
  margin: 0 auto;
}

.logo {
  font-size: 22px;
  font-style: italic;
}

#topbar a, #topbar a:visited {
  color:black;
  text-decoration: none;
}

#topbar a:hover {
  text-decoration: underline;
}

#user_nav_container {
  position: absolute;
  top: -2px;
  left: 0px;
}

#user_nav_container > a, .add-pin {
  display:block;
  border: 1px solid grey;
  width: 150px;
  padding: 6px 14px;
  border-radius: 4px;
}

.fb-lookup, .flickr-lookup, .instagram-lookup {
  display:inline-block;
  border: 1px solid grey;
  width: 100px;
  margin-top: 12px;
  padding: 6px 14px;
  border-radius: 4px;
}

.add-pin {
  position: absolute;
  top: -2px;
  right: 0px;

}

.followed li {
  position: relative;
}

.followed .delete {
  border: 1px solid grey;
  display: block;
  position: absolute;
  right: 30px;
  top: 0;
  border-radius: 4px;
  padding: 0px 12px;
  cursor: pointer;
}


#user_nav_container > a:hover {
  text-decoration: none;
  cursor: pointer;
}

#user_nav {
  display: none;
}

#user_nav_container:hover #user_nav {
  display: inline;
}

#user_nav a, input.log-out-link  {
  display: block;
  width: 150px;
  height: 30px;
  background: #eee;
  font-weight: bold;
  color: #777;
  cursor: pointer;
  padding: 9px 14px;

}

input.log-out-link {
  border: none;
  font-family: inherit;
  font-size: inherit;
  box-sizing: inherit;
  padding: 0 14px 25px;
  height: auto;
  margin: 0;
  color: black;
}

input.log-out-link:hover {
  text-decoration: underline;
}

/*  FEED  */

.feed_container {
  font-family: "Helvetica Neue","Hiragino Kaku Gothic Pro",arial,sans-serif;
  width: 968px;
  margin: 0 auto;
  min-height: 800px;
}

.feed_container .col {
  width: 240px;
  float: left;
  padding: 6px;
  margin-top: 26px;
}

.pin-card {
  background: white;
  margin-bottom: 12px;
  border: 1px solid #D8D7E0;
  border-radius: 5px;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.20);

  -webkit-font-smoothing: antialiased;
  color: #333;
  font-size: 13px;
  line-height: 17px;
  padding: 0;
  word-wrap: break-word;
}

.pin-card p {
  margin: 0;
  padding: 12px;
}

.pin-card a {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
}

.pin-card a:hover {
  text-decoration: underline;
}

.pin-card a.focus_link {
  font-weight: normal;
  text-decoration: none;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
}

.pin-card img {
  width: 238px;
  border: 0;
}

.pin-card footer {
  font-weight: bold;
  height: 36px;
  position: relative;
  border-top: 1px solid #D8D7E0;
}

.pin-card footer .likes, .pin-card footer .comments_count {
  position: absolute;
  top: 10px;
}

.pin-card footer .likes {
  left: 16px;
}


.pin-card footer .comments_count {
  right: 16px;
}

/* LIKES */

.likes {
  display: block;
  position:absolute;
  top: 30px;
  right: 30px;
}

.pin-focus {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

.focus_container .likes {
  font-size: 18px;
}

.likes .like, .likes .unlike{
  cursor: pointer;
}

.likes .like:hover, .likes .unlike:hover{
  cursor: pointer;
  text-decoration: underline;
}

.likeDiv .unlike {
  display: none;
}

.likeDiv.liked .unlike {
  display: inline;
}

.likeDiv.liked .like {
  display: none;
}


/*  PIN FOCUS */

.white_overlay {
  position: fixed;
  top: 0;
/*  left: 0%;*/
	width: 100%;
	height: 100%;
	background-color: white;
	-moz-opacity: 0.8;
	opacity:.80;
	filter: alpha(opacity=80);
  cursor: -webkit-zoom-out;
  cursor: -moz-zoom-out;
}

.focus_container, .most_popular, .followed {
  position:absolute;
/*  top: 40px;*/
  top: 95px;
  left: 50%;
  margin-left: -380px;
  padding: 20px;
  width: 720px;

  background: white;
  border: 1px solid #D8D7E0;
  border-radius: 5px;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.20);

  -webkit-font-smoothing: antialiased;
  color: #333;
  font-size: 16px;
  line-height: 20px;
  word-wrap: break-word;
}

.focus_container p {
  margin: 0;
  padding: 10px;
}

.focus_container a {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
}

.focus_container a:hover {
  text-decoration: underline;
}

.focus_container img {
  max-width: 600px;
  display: block;
  margin: 20px auto;
}

.most_popular li, .followed li {
  margin-bottom: 6px;
}

.comments {

}

.comments .delete{
  position: absolute;
  right: 110px;
  cursor: pointer;
}

.comment {
  border-top: 1px solid #D8D7E0;
/*  border-bottom: 1px solid #D8D7E0;*/
}

.comment_author {
  font-weight: bold;
}

.comment textarea {
  font-size: 16px;
  margin-left: 28px;
  width: 600px;
}

.comment button {
  font-size: 16px;
  margin-left: 8px;
  bottom: 8px;
  position: relative;
}

.video_iframe {
  margin: auto;
  width: 640px;
  margin-top: 12px;
  margin-bottom: 12px;
}

/*  ADDING PIN  */

.newPin {
  background: white;
  width: 600px;
  margin: 20px auto;
  padding: 30px;
  border-radius: 5px;
  font-family: Verdana,Arial,sans-serif;
  font-size: 17px;
}

select#song {
  width: 300px;
  -webkit-appearance: menulist-button;
}

.ui-widget {
  font-family: Verdana,Arial,sans-serif;
  font-size: 1em;
}

.newPin input {
 margin-top: 12px;
}

.newPin #song_letters {
  width: 150px;

}

/*  mimic jQuery UI css  */

.newPin input, .newPin select, .newPin textarea, .newPin button {
  font-family: Verdana,Arial,sans-serif;
  font-size: 1em;
}

/*  LOG IN  */

.login {
  width: 300px;
  height: 300px;
  margin: 200px auto;
  padding: 30px;
  background: #fdfdfd;
  border: 1px solid black;
}


.login input {
  margin: 10px auto;
}

.login .error {
  font-weight: bold;
  color: red;
}


.PhotosView {
  max-height:245px;
  overflow:scroll;
  overflow-y:auto;
}

.LookupView h3 {
  margin-top: 10px;
}

.photos{
  height: 200px;
  width: 10000px;
}

.fb_photo_div {
  height: 160px;
  padding: 5px;
  float: left;
  margin: 10px;

  background: white;
  margin-bottom: 12px;
  border: 1px solid #D8D7E0;
  border-radius: 5px;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.20);

}

.fb_photo {
  height: 150px;
  width: auto;
  float: left;
}

